.box i{
    transition: 250ms;
    margin: 5px;
    padding: 5px;
    border: currentColor solid 5px;
    border-radius: 10px;
    width: 50%;
    height: auto;
    text-align: center;
    box-shadow: var(--border-1);
    text-shadow: var(--neon-2);
    font-size: 25px;
}
.box i:hover{
    transition: 250ms;
    margin-right: -.25ch;
    margin-top: 1ch;
    box-shadow: var(--neon-3);
    text-shadow: var(--neon-3)
}