/* Root */
:root{
  --background-1:#23272A;
  --background-2:#454FBF;
  --background-3:#7289DA;
  --background-4:#4E5D94;
  --neon-1:
    0 0 10px currentColor;
  --neon-2:
    0 0 5px currentColor;
  --neon-3:
    0 0 20px currentColor;
  --neon-4:
    0 0 15px currentColor;
  --color-1:white;
  --border-1:
    .25ch .25ch 0 currentColor,
    .30ch .30ch 0 currentColor;
  --border-2:
    .10ch .10ch 0 currentColor;
}

/* Main Style */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

html,body{
  font-family:'Roboto', 'sans-serif';
  width: 100%;
  /* height: 100ch; */
  margin: 0;
  padding: 0;
    /* padding-top: 10%; */
  background-color:var(--background-1);
  color:var(--color-1);
  letter-spacing:2px;
  align-items:auto;
  position:absolute;
}
*{
  text-align:center;
  color:white;
  text-decoration:none;
}
p{
  font-size: 20px;
}
.copy a{
  text-shadow:var(--neon-1);
}
hr{
  background-color: currentColor;
}

p .note{
  color: currentColor;
}
.box_note{
  left: 50px;
  width:40%;
  height:auto;
  border:solid 2px currentColor;
  border-radius:2px;
  margin-left:80px;
  color: currentColor;
}

.fa{
  padding: 0.5rem;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Tooltip */
.text {
  position: relative;
  display: inline-block;
  border-bottom: 1px black;
}

.text .texthover {
  transition: 250ms;
  opacity: 0%;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}
.text:hover .texthover {
  transition: 250ms;
  opacity: 100%;
}

/* Box */
.box i{
  transition: 250ms;
  margin: 5px;
  padding: 5px;
  border: currentColor solid 5px;
  border-radius: 10px;
  width: 50%;
  height: auto;
  text-align: center;
  box-shadow: var(--border-1);
  font-size: 25px;
}
.box i:hover{
  transition: 250ms;
  margin-right: -.25ch;
  margin-top: 1ch;
  box-shadow: var(--neon-3);
  text-shadow: var(--neon-3)
}

/* Mobile Friendlyness */
@media screen and (max-width: 600px) {
  hr{
      width: 100%;
  }
  p.intro{
      text-align: center;
      width: 20ch;
      margin: auto;
  }
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 12px;
  background-color: gray;
  border: solid white 1px;
  border-radius: 10px;


}
::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #4a4d52;
  border: 1px solid #282a2d;
  border-radius: 10px;
}

nav {
  position: fixed;
}