.text {
  position: relative;
  display: inline-block;
  border-bottom: 1px black;
}

.text .texthover {
  transition: 250ms;
  opacity: 0%;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}
.text:hover .texthover {
  transition: 250ms;
  opacity: 100%;
}