* {
    letter-spacing: -0.25px;
    background-color: black;
    color: white;
}

p, code {
    margin: .75px;
    padding: .25rem;
    color: yellow;
    width: 75%;
    font-size: x-large;
}

b, strong, i, em, sup, sub {
    color: white;
}

h3, h4 {
    margin: .75px;
    padding: 1.75px;
    color: yellow;
    width: 30%;
    font-size: x-large;
}

hr {
    border: 1px solid white;
    margin-right: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    border: 1.5px solid yellow;
    border-radius: 5px;
    padding: 7.5px;
    font-size: x-large;
}

table, td, tr {
    border: 2.5px solid red;
    border-radius: 5px;
    margin: .75px;
    padding: 1.75px;
    text-align: center;
}

td.td1 {
    color: hotpink;
    font-size: x-large;
}
td.td2 {
    color: pink;
    font-size: x-large;
}